@media screen and (min-width: 768px) {
   
   /* MAIN */
   /* first section */
   .main .col{
    width: 30%;
   }
   
    .col.large{
    width: 65%;
   }
   
   /* third section */
   .testimonials .card{
    display: flex;
   }

    /* benefits section */
    .benefits .col{
        width: calc(100% / 2);
    }

    /* about us section */
    .text.col{
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    /* COMMON */
    .container{
        width: 60%;
    }

    /* HEADER */
    .hamburger{
        display: none;
    }

    .menu{
        display: block;
    }
    
    /* MAIN */
    /* main section */
    .main .text{
        width: 50%;
    }
    .container-img{
        width: 50%;
    }
    /* second section */
    .works .col{
        width: 50%;
    }

    /* benefits section */
    .benefits .col{
        width: calc(100% / 3);
    }

    
}