@media screen and (min-width: 768px) {
   
   /* MAIN */
   /* first section */
   .main .col{
    width: calc(100% / 3);
   }
   
    .col.large{
    width: calc(100% / 3 * 2);
   }
   
   /* third section */
   .testimonials .card{
    display: flex;
   }

    /* benefits section */
    .benefits .col{
        width: calc(100% / 2);
    }
}

@media screen and (min-width: 992px) {
    /* HEADER */
    .hamburger{
        display: none;
    }

    .menu{
        display: block;
    }
    
    /* MAIN */
    /* first section */
    .container{
        width: 60%;
    }

    /* second section */
    .works .col{
        width: 50%;
    }

    /* benefits section */
    .benefits .col{
        width: calc(100% / 3);
    }

    
}