*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* font */
body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

/* COOMON */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-btw{
    justify-content: space-between;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-30{
    margin-bottom: 30px;
}

.violet{
    background-color: #9792E4;
}

.container{
    width: 80%;
    margin: 20px auto;
    /* debug */
    border: 1px solid red;
}

.row{
    width: 100%;
}
.col{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    /* debug */
    /* border: 1px solid black; */
}
/* HEADER */
header{
    background-color: #0084FD;
}

.header{
    height: 90px;
    align-items: center;
    padding: 0 1rem;
}

.hamburger{
    color: white;
    font-size: 2rem;
}
.menu{
    display: none; 
}

.menu ul{
    list-style-type: none;
    gap: 10px;
}

.menu a{
    text-decoration: none;
    color: white;
}

.menu a.button{
    display: inline-block;
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px;
}
/* MAIN */

/* main section */
.main{
    text-align: center;
}
.main .text{
    width: 100%;
    text-align: left;
    padding: 1rem;
}
.main .col{
    background-color: #B5DDFF;
}
h2{
    color: #0084FD;
    margin: 15px 0;   
}
.entity{
    color: #0084FD;
    font-size: 5rem;
}
.main a.button{
    display: inline-block;
    color: white;
    background-color: #0084FD;
    font-size: 1.2rem;
    padding: 5px 50px;
    border-radius: 30px;
    text-decoration: none;
}

.container-img{
    padding-top: 30px;
}

.main p{
    padding: 0 10px;
}
/* second section */

/* testimonials */

/* FOOTER */
footer{
    color: white;
    background-color: lightslategray;
}