*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* font */
body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

/* COOMON */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-btw{
    justify-content: space-between;
}

.violet{
    background-color: lightcoral;
}

.container{
    width: 80%;
    margin: 20px auto;
    /* debug */
    border: 1px solid red;
}

.row{
    width: 100%;
}
.col{
    width: 100%;
    /* debug */
    height: 100px;
    border: 1px solid black;
}
/* HEADER */
header{
    background-color: #0084FD;
}

.header{
    height: 90px;
    align-items: center;
    padding: 0 1rem;
}

.hamburger{
    color: white;
    font-size: 2rem;
}
.menu{
    display: none; 
}

.menu ul{
    list-style-type: none;
    gap: 10px;
}

.menu a{
    text-decoration: none;
    color: white;
}

a.button{
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px;
}
/* MAIN */

/* main section */
.main .text{
    width: 100%;
}

/* second section */

/* testimonials */

/* FOOTER */
footer{
    color: white;
    background-color: lightslategray;
}