*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* font */
body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

/* COOMON */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-btw{
    justify-content: space-between;
}

.violet{
    background-color: lightcoral;
}

.container{
    width: 80%;
    margin: 20px auto;
    /* debug */
    height: 400px;
    border: 1px solid red;
}

.row{
    width: 100%;
}
.col{
    width: 100%;
    /* debug */
    height: 100px;
    border: 1px solid black;
}
/* HEADER */
.header{
    align-items: center;

    /* debug */
    background-color: aqua;
    height: 90px;
    width: 100%;
}

.menu{
    display: none; 
}

.menu ul{
    list-style-type: none;
    gap: 10px;
}

.menu a{
    text-decoration: none;
}
/* MAIN */

/* first section */


/* second section */

/* testimonials */

/* FOOTER */